---
import Container from '@/components/Container.astro';
import type { FeaturesProps } from '@/content/types';

const { section } = Astro.props as FeaturesProps;
---

<section class="features section" id={section.id} aria-labelledby={`${section.id}-heading`}>
  <Container>
    <h2 class="features__heading" id={`${section.id}-heading`}>{section.heading}</h2>
    <ul class="features__list">
      {section.items.map((item) => (
        <li class="features__item">
          <h3 class="features__item-title">{item.title}</h3>
          <p class="features__item-text">{item.text}</p>
        </li>
      ))}
    </ul>
  </Container>
</section>
